# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# LaTeX
*.aux
*.bbl
*.blg
*.fls
*.log
*.fdb_latexmk
*.synctex.gz
*.pdf
# Exception for papers
!papers/dae_ssrn.pdf

# Editor
.vscode/
.idea/
*.swp
